.header-search{
    align-items: flex-end;
}

.form-group {
    display: flex;
    align-items: center;
}

.table{
    display: none;
}

.table-active{
    display: block;
}

.group-content{
    margin-top: 20px;
    display: flex;
}

.content-info{
    width: 33%;
}

.content-info table tr th{
    padding: 5px;
    opacity: 0.7;
    font-weight: 400;
    line-height: 24px;
    text-align: left !important;
}

.text-title{
    font-weight: 700 !important;
    opacity: 1 !important;
    padding-left: 0 !important;
    display: flex;
}

form .text-title{
    display: table-cell !important;
}

.text-title-2{
    color: #FFAC69;
}

.text-title-2 i{
    color: #FFAC69;
    margin-right: 5px;
    transform: translateY(4px);
}

.input{
    width: 280px;
    resize: vertical;
}

.input-radio{
    opacity: 1 !important;
}

.input-radio input{
    margin-right: 5px;
    width: 16px;
    height: 16px;
    transform: translateY(2px);
}

.input-radio label{
    /* margin-right: 50px; */
    width: 100px;
    display: inline-block;
}

.button-group{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 40px;
}

.center-group{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.alert-box{
    width: 670px;
    border-radius: 16px;
    background-color: #2B2B3F;
    padding: 40px;
}

.top-title{
    border-bottom: 1px solid #c8c8db52;
    padding-bottom: 20px;
}

.top-title i{
    color: #0FBF00;
}

.content-alert {
    margin-top: 20px;
}

.content-alert table{
    margin-left: 15px;
    margin-top: 15px;
}

.content-alert table td{
    font-size: 15px;
}

.content-alert p{
    margin-bottom: 14px;
}

.content-alert button{
    font-size: 16px;
    font-weight: 600;
    padding: 12px 24px;;
}

.content-alert .hidden{
    padding-bottom: 50px;
}

.modal-content{
    width: 800px !important;
}

.form-group-2{
    display: block;
    margin-bottom: 30px;
}

.form-group-2 input{
    width: 100%;
}

.form-group-3{
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 30px; */
}

.form-group-3 .form-group-2{
    width: 48%;
}